@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 0, 155, 90;
  --secondary: 0, 114, 239;
  --grey-dark: 65, 65, 65;
  --grey-light: 237, 237, 237;
}
.modal {
  @apply animate-popup flex flex-col fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white p-6 rounded-xl w-full max-w-[500px] max-h-[86vh] outline-none;
}
.modal-overlay {
  @apply fixed top-0 left-0 w-full h-full bg-black/20 z-50 overflow-hidden backdrop-blur-sm;
}